# For outdated module report see https://requires.io/github/OpenTreeMap/otm-core/requirements/?branch=develop
# Changelog URL shown below if not linked on above page

amqp
anyjson
billiard
boto
celery
certifi
chardet
# https://docs.djangoproject.com/en/1.10/releases/#id2
Django
django-apptemplates
django-contrib-comments
django-js-reverse
django-queryset-csv
django-recaptcha
django-redis
django-registration-redux
django-storages
django-threadedcomments
django-tinsel
django-webpack-loader
flake8
gunicorn
hiredis
idna
jsonschema
kombu
libsass
mccabe
modgrammar
olefile
pep8
Pillow
psycopg2
pyflakes
python-dateutil
python-omgeo
pytz
redis
requests
rollbar
six
unicodecsv
urllib3
